// Tasklist
.taskslist{
  padding: 65px 20px 100px;
  height: calc(100vh - 65px);
}

// Task

.task{
  margin: 10px auto;
  padding: 15px;
  background: #373747;
  display: flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 90%;
  position : relative;
  color: white;

  .task-container{
    display: flex;
    flex-direction : row;
    justify-content: flex-start;
    align-items: center;
  }

  .label-checked{
    text-decoration: line-through;
    color: rgb(195, 65, 65);
  }

  &__custom-checkbox{
    position : absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    z-index: 10;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  &__custom-checkbox{
    background: #373747;
    border: 2px solid rgb(191, 50, 50);
  }

  &__custom-checkbox.checked{
    background: rgb(191, 50, 50);

    &::before{
      content: url('../images/checkmark.png');
      position : absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(.4);
    }
  }

  input{
    height: fit-content;
  }

  label{
    line-height: 100%;
    margin-left: 15px;
    font-weight: 700;
    font-family: "Heebo", sans-serif;
    cursor: pointer;
  }

  &__checkbox-label{
    display: flex;
    flex-direction : row;
    align-items: center;
  }
}

.task-container{
  display: flex;
  flex-direction : row;
  justify-content: flex-start;
}

// New task 
.new-task{
  position : fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  width: 100%;
  
  &__container{
    padding: 10px;
    display: flex;
    flex-direction : row;
    justify-content: center;
  }

  input{
    background: white;
    width: 75%;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;

    &:focus-visible{
      outline: rgb(7, 4, 100);
      outline-width: 3px;
    }
  }

    #new-task-button{
      background: rgb(163, 9, 9);
      border-radius: 50px;
      color: white;
      border: none;
      height: 37px;
      width: 37px;
      cursor: pointer;

      span{
        position: relative;

        &::after{
          content: "";
          height: 15px;
          width: 2px;
          background: white;
          position : absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:before{
          content: "";
          height: 2px;
          width: 15px;
          background: white;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
}